<%
// -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// 
// ' File Name : database.config
// ' Created   : 25/11/2011
// ' Developer : Patrick Johnson, Clickbanx Limited. www.clickbanx.co.uk
// ' Function  : Holds the database connection configuration
// 
// -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

  ' Does the site require a database connection ?
	' 1 = Yes, 0 = No
	
	UseDatabase  = 1
	
	' Choose your Database Type
	' 1 = ODBC (MySQL),     2 = File (MySQL)
	' 3 = ODBC (MSAccess),  4 = File (MSAccess)
	
	DB_Type      = 4
	
	' Enter your ODBC Database Name
	' DB_TYPE Option 1 or 3 only
	
	ODBC_DB_Name = "someonespecial_books" 
	
	' Enter your Database file name
	' DB_TYPE Option 2 or 4 only
	
	DB_FileName  = "someonespecialbooks.dbq"
	
	' Enter your Database folder location
	' DB_Type Option 4 only
	
	DB_Location  = "/data/"
	DB_Location  = Server.MapPath( DB_Location & DB_FileName )
	
	
	' Enter your Database Server IP or Hostname
	' DB_Type Option 1 or 2 only
	
	DB_Server    = ""
	
	' Enter your Database Username
	' DB_Type Option 1 or 2 only
	
	DB_Username  = ""
	
	' Enter your Database Password
	' DB_Type Option 1 or 2 only
	
	DB_Password  = ""
	
// -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// '                                                  DO NOT CHANGE ANYTHING BELOW THIS NOTICE - You will break the site
// -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

  Select Case( DB_Type )
	  Case(1)
		  
			ConnString = "DSN=" & ODBC_DB_Name & ";uid=" & DB_Username & ";pwd=" & DB_Password & ";"
		
		Case(2)
		  
			ConnString = "" ' NOT YET IMPLEMENTED
		
		Case(3)
		 
		  ConnString = "DSN=" & ODBC_DB_Name & ";uid=" & DB_Username & ";pwd=" & DB_Password & ";"
		
		Case(4)
		
			ConnString = " Driver={Microsoft Access Driver (*.mdb)}; DBQ=" & DB_Location & ";" & _
			             " uid=" & DB_Username & ";pwd=" & DB_Password & ";"
	
	End Select
	
	ConnString = ConnString

// -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
%>