<%
// --------------------------------------------------------------------------------------------------------------------------------------

  MailCss = "body {" & _
             "margin: 0px;" & _
	           "padding: 0px;" & _
	           "color:#333333;" & _
	           "background:#EBE7E9;" & _
	           "font-family: Arial, Helvetica, Geneva, Sans-Serif;" & _
	           "font-size:8pt;" & _
						 "line-height:1.6em;" & _
						 "}" & _
						 
						 ".disclaimer {" & _
						 " display:block;" & _
						 " width:700px;" & _
						 " padding:10px;" & _
						 " font-size:8pt;" & _
						 " color:#333333;" & _
						 " font-family:tahoma, arial, helvetica, geneva, sans-serif;" & _
						 "}" & Chr(13)
						 
  AdditionalCss = "table { border-collapse:seperate;}" & _
	                "a, a:link, a:visited { text-decoration:none; color:#578E57;}" & _
									"a:hover { text-decoration:underline;}" & _
									"h2, h2 a, h2 a:visited, h3, h3 a, h3 a:visited, h4, h5, h6, .t_cht { color:#578E57 !important}" & _
									"p {margin-bottom:0}" & _
									".ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td {line-height:100%}" & _
									".ExternalClass {width:100%;}" & Chr(13)

  MailBodyStart = "<style>" & MailCss & AdditionalCss & "" & _
									"</style>" & Chr(13) & _
									"<br/><br/><table style="" margin-bottom:50px; margin-top:15px;background:#ffffff; box-shadow: 0 5px 4px -2px #888; -moz-box-shadow: 0 5px 4px -2px #888; -webkit-box-shadow: 0 5px 4px -2px #888; margin-left:auto; margin-right:auto; padding:15px; -moz-border-radius:5px; ""><tr><td><table width=""900px"" height=""100px"" style=""display:block; clear:both;border-bottom:solid 3px #5B925B; margin-left:auto; margin-right:auto;"">" & _
	                "<tr><td width=""800px""><img src=""http://" & Site_FQDN & "/application/library/media/header_logo_small.png"" alt=''/></td>" & _
									"<td><img src=""http://" & Site_FQDN & "/application/library/media/header_tagline_small.png"" alt="" style=""float:right;""/></td>" & _
									"</tr>" & _
	                "</table>" & _
									"<table width=""900px"" style=""display:table; background:#EBF3EB; margin-left:auto; margin-right:auto; padding:15px; font-size:9pt; font-family:tahoma, arial, helvetica, geneva, sans-serif;""><tr><td>"
									
	MailBodyEnd   = "<br/><br/><br/><b>Best Wishes,<br/>The Bookmonsters Team</b><br/><br/><b>Web:&nbsp;<a href='http://" & Site_FQDN & "' target=""_blank"">" & Site_FQDN & "</a></b><br/><b>Email:</b>&nbsp;" & Email_Support & "</td></tr></table>" & _
	                "<span class='disclaimer'>" & _
									"<b>Disclaimer:</b> This email and any attachments to it may be confidential and are indended solely for the use of the individual to whom it is addressed." & _
									" Any views or opinions expressed are solely those of the author and do not necessarily represent those of Bookmonsters Limited. If you are not the " & _
									" intended recipient of this email, you must neither take any action based upon its content, nor copy or show it to anyone.<br/><br/>" & _
									" Please contact the sender if you believe you have received this email in error.<br/><br/>This email was certified virus free @ " & Now  & _
									"</span>" & _
									"</td></tr></table><br/><br/><br/><br/><br/>"				
	
// --------------------------------------------------------------------------------------------------------------------------------------	                
%>