<%
// -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// 
// ' File Name : email.config
// ' Created   : 01/12/2011
// ' Developer : Patrick Johnson, Clickbanx Limited. www.clickbanx.co.uk
// ' Function  : Holds the email server configuration
// 
// -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

  ' Select a component to use to send email
	' 1 = CDONTS (CDO.Message), 2 = Persits (Persits.MailSender)
	
	RequiredComponent = 2
	
	' Enter the Email Server Address
	' This is the fully qualified domain name of the server
	' e.g. mail.mysite.com
	
	Email_Server      = "mail.smartervps.co.uk"
	
	' Enter the port number of your email service
	' The default value is normally `25`
	
	Email_Port        = "25"
	
	' Enter the account name of the specified email server
	' e.g. me@mysite.com
	
	Email_Username    = "mailer@davidostick.co.uk"
	Email_Recipient   = "dostickdesign@aol.com"
	
	' Enter the account password for the specified email server
	
	Email_UserPass    = "elysium08512"
	Email_ContactPass = "elysium08512"
	
	' Enter the name of the sender
	' e.g. `My Web Shop`
	
	Email_FromName    = "David Ostick Design & Build"
	
	' Use SSL when sending mail? ( CDONTS ONLY )
	' False = SSL OFF, True = SSL ON
	
	Email_UseSMTPSSL     = False

	' Specify a time limit the server has to respond before timing out
	' 30 to 60 seconds only ( CDONTS ONLY )
	
	Email_UseSMTPTimeOut = 60
	
	' Does the server require authentication? ( CDONTS ONLY )
	' 1 = Yes, 2 = No
	
	Email_SMTPAuth       = 0

// -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
%>