<%
// -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// 
// ' File Name : encryption.config
// ' Created   : 02/12/2011
// ' Developer : Patrick Johnson, Clickbanx Limited. www.clickbanx.co.uk
// ' Function  : Holds the 2 way encryption configuration
// 
// -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  
	
	' Enter your encryption key below
	
	' **** WARNING ****
	' DO NOT change this key once you have started collecting
	' data, this will corrupt existing data and is irreversible
	
  EncryptionKey = "9a68ba9b508561cf5f99e68259d63095494dadec"
	
// -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
%>