<%
// -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// 
// ' File Name : folder.config
// ' Created   : 25/11/2011
// ' Developer : Patrick Johnson, Clickbanx Limited. www.clickbanx.co.uk
// ' Function  : Holds the folders location and file types
// 
// -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

  ' Enter the sites name that will appear above the address bar
	
  Site_AppName = "Someone Special Books"

	' Enter the sites fully qualified domain name 
	' without the http:// or https://
	
	Site_FQDN    = "ssdev.clickbanx.co.uk"
	
	' Specify whether the site uses a secure connection
	' 1 = Yes, 0 = No
	
	UseSSL       = 0
	
	' If you have specified Yes (1) for UseSSL enter the sites
	' SSL port number, if its 443, leave the field below blank
	
	SSLPort      = ""
	
	' Enter your application language extension without the '.' 
	' `asp` not `.asp`
	
	Application_Language = "asp"
	
	
	' Where is the Framework folder located
	' The default value is `/framework/elements/`
	
	Fuse_Folder_Path      = "/framework/elements/"
	Fuse_CSS_Path         = Fuse_Folder_Path & "errortemplates/"
	
	' Where is the Application folder located
	' The default value is `/application/`
	
	App_Folder_Path       = "/application/"
	
	' Where is the Control folder located
	' The default value is `/application/controls/`
	
	Ctrl_Folder_Path      = App_Folder_Path & "controls/"
	Ctrl_Prefix           = "ctrl_"
	
	' Where is the Actions folder located
	' The default value is `/application/actions/`
	
	Actions_Folder_Path    = App_Folder_Path & "actions/"
	Actions_Prefix         = "act_"
	
	' Where is the Content folder located
	' The default value is `/application/view/content/`"
	
	Content_Folder_Path    = App_Folder_Path & "view/content/"
	Content_Prefix         = "dsp_"
	
	' Where is the Library folder located
	' The default value is `/application/library/`
	
	Library_Folder_Path    = App_Folder_Path & "library/"
	
	' Where is the stylesheet folder located
	' The default value is `/application/library/stylesheets/`
	
	CSS_Folder_Path        = Library_Folder_Path & "stylesheets/"
	
	' Where is the Javascript folder located
	' the default value is `/application/library/javascript/`
	
	JScript_Folder_Path    = Library_Folder_Path & "javascript/" 
	
	' Where is the dsp_landingpage.asp file located
	' The default value is `/application/view/content/`"
	
	Default_Folder_Path    = Content_Folder_Path 
	Default_Circuit        = "landingpage"
	Default_Prefix         = "dsp_"
	
// -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// ' Custom folders
// ' To keep this config file tidy, please put your custom folder configs below.
// -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

  Admin_Folder_Path      = Content_Folder_Path & "admin/"
	Admin_Prefix           = "dsp_"
	
	Tools_Folder_Path      = Content_Folder_Path & "tools/"
	Tools_Prefix           = "dsp_"
	
	Account_Folder_Path    = Content_Folder_Path & "account/"
	Account_Prefix         = "dsp_"
	
	Modal_Folder_Path      = Content_Folder_Path & "modals/"
	Modal_Prefix           = "dsp_"
	
	Inbox_Folder_Path      = Content_Folder_Path & "account/Inbox/"
	Inbox_Prefix           = "dsp_"
	
	Help_Folder_Path       = Content_Folder_Path & "help/"
	Help_Prefix            = "dsp_"

// -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
%>