<%
// -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// 
// ' File Name : upload.config
// ' Created   : 01/12/2011
// ' Developer : Patrick Johnson, Clickbanx Limited. www.clickbanx.co.uk
// ' Function  : Holds the upload folder configuration
// 
// -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

  TempUploadFolder = "/application/library/media/tempbin/"
	ListingsFolder   = "/application/library/media/products/"
	MaxUploadSize    = 5242880
	MinUploadSize    = ""
	
// -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
%>